// Fonts Codes
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03rem;
  line-height: 1.9;
  background-color: $color-5;
}
h1 {
  font-size: 48px;
  font-weight: 800;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 600;
}
h4 {
  font-size: 18px;
  font-weight: 600;
}
